<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <h2>Bem-vinda 💜</h2>
      <label for="senha"
        >Se for a minha ramy a senha você sabe, eu mandei gravar.</label
      >
      <input type="password" id="senha" placeholder="Digite a senha secreta" />
      <br />
      <button onclick="verificarSenha()">Entrar</button>
      <div class="error" id="mensagemErro"></div>
    </div>
    <script src="../js/login.js"></script>
  </body>
</html>
